body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
canvas {
    padding-top: 5px;
    position: absolute;
}
h1 {
    font-size: 38px;
    color: white;
    text-shadow: 1px 1px 5px blue;
}
video {
    border-radius: 35px;
    box-shadow: 24px 23px 27px 8px rgba(0,0,0,0.66);
}
.buttons {
    display: flex;
    margin-top: 35px;
    gap: 60px;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
button img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.66)); 
}